.blog-post-card {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  height: 25vh;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
  padding: 0 1rem;
}

.blog-post-card-title {
  font-size: 1.2em;
  height: 2.6rem;
}

.blog-post-card-author {
  background-color: teal;
  color: white;
  width: fit-content;
  margin: 0;
  padding: 0.2rem;
  border-radius: 5px;
  font-size: 0.8em;
}

.blog-post-card-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1em;
}
