.blog-full {
  width: 60%;
  background-color: whitesmoke;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
}

.blog-title {
  text-transform: capitalize;
  font-size: 2rem;
}

.blog-author {
  font-size: 1.2rem;
  width: fit-content;
  background-color: whitesmoke;
  padding: 0.2rem;
  border-radius: 5px;
}

.blog-author::before {
  content: "Written by ";
}

.blog-author-name {
  font-weight: bold;

  background-color: teal;
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
}

.blog-post {
  text-align: left;
  font-size: 1.4rem;
  line-height: 120%;
}
