#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  padding: 1rem 5rem;
  background-color: teal;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}

#header-title {
  margin: 0;
  margin-right: auto;
  text-decoration: none;
  color: white;
  cursor: default;
}

#header-title > a {
  cursor: default;
  text-decoration: none;
  color: white;
}

header > a {
  text-decoration: none;
  color: lightcyan;
}

header > a:hover {
  color: white;
  text-decoration: overline;
}

header > a:last-child {
  background-color: beige;
  color: black;
  padding: 0.5rem;
  border-radius: 10px;
}

header > a:last-child:hover {
  background-color: papayawhip;
  color: black;
  text-decoration: none;
}

/* header > a:active {
  color: black;
  text-decoration: overline;
} */
