#header {
  display: flex;
  flex-direction: row;
  justify-content:end;
  gap: 1rem;
  align-items: center;
  padding: 1rem 5rem;
  background-color: teal;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}

#header-title {
  margin: 0;
  margin-right: auto;
  color: white;
  cursor: default;
}

a {
  text-decoration: none;
  color: lightcyan;
}

a:hover {
  color: white;
  text-decoration: overline;
}
