body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

.gap {
  height: 5vh;
}

.response-message {
  margin-top: 0.5rem;
  color: red;
  text-align: center;
}

.center-loading {
  font-size: 2rem;
  line-height: 25vh;
  text-align: center;
  vertical-align: middle;
}
